<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href=="https://cloud-4.s3.jp-tok.cloud-object-storage.appdomain.cloud/style.css">
</head>
<body>
    <h1>This images are from the cloud object storage</h1>
    <div class="items">
    <img src="https://cloud-4.s3.jp-tok.cloud-object-storage.appdomain.cloud/1.jpg">
    <img src="https://cloud-4.s3.jp-tok.cloud-object-storage.appdomain.cloud/2.jpg">
    <img src="https://cloud-4s.s3.jp-tok.cloud-object-storage.appdomain.cloud/3.jpg">
    <img src="https://cloud-4s.s3.jp-tok.cloud-object-storage.appdomain.cloud/4.jpg">
    <img src="https:/cloud-4.s3.jp-tok.cloud-object-storage.appdomain.cloud/55.jpg">
    </div>
</body>
</html>
